<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
		<title>Statement</title>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
	</head>
    <body class="container">
        <div style="text-align: center;"><h2>Union Bank of India</h2></div>
		<div><h4>Statement</h4></div>
        <div>
        <p>Dear Customer, please find below statement for your Sukanya Samriddhi Yojana account</b>
		</p>
		
      </div>
      <br/>
		<table>
			<tr>
				<td>Transaction Date</td>
        <td>Account Number</td>
				<td>Description</td>
        <td>Amount</td>
        <td>Currency</td>
			</tr>
			<tr th:each="txndtl, stats: ${data.transactions}">
					<td th:text="${txndtl.transactionDate}"></td>
        	<td th:text="${txndtl.acctNum}"></td>
					<td th:text="${txndtl.transactionParticulars}"></td>
          <td th:text="${txndtl.amount}"></td>
          <td th:text="${txndtl.transactionCurrencyCode}"></td>
					
				</tr>
		</table>
		<br/>
    <br/>
    <br/>
		<p>* This is computer generated document and does not require signature</p>
</body>
</html>
